<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Best Not Fake Blogs</title>
    <style>
        input {display: block;}
        textarea {display: block;}
    </style>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Create Article">
</form>

<ul>
    {% for article in articles %}
    <li>
        <p>Title : {{article.title}} </p>
        <p>Category : {{article.category}}</p>
        <p>Created by: {{article.author}}</p>
        <p>Posted at: {{article.created_at}}</p>
        <a href="http://localhost:7000/blog/articles/{{ article.id}}">Read the full Article</a>
    </li>
    {% endfor %}

</ul>

</body>
</html>