<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sports News!!! {{ article.title}}</title>
</head>
<body>
<p>Title: {{ article.title }}</p>
<p>Category: {{ article.category }}</p>
<p>Written by: {{ article.author }}</p>
<p>Posted at: {{ article.created_at }}</p>
<br>
<p>{{ article.content }}</p>
<p>
    <a href="http://localhost:7000/blog/articles">Home Page</a>
</p>
</body>
</html>